/* 2C3333 dark blue/gree/grey
395B64
A5C9CA
E7F6F2  light blue*/

.navbar {
  text-decoration: none;
}

div {
  margin: auto 60px;
}

.App {
  text-align: center;
  background-color: #E7F6F2;
}

/* traffic light containers: */
.container {
  display: flex;
  position: relative;
  justify-content: center;
}
.trafficlight {
  /* width: 150px; */
  width: 300px;
  height: 400px;
  border: 10px solid black;
  border-radius: 5%;
  background: black;
  position: relative;
  display: flex;
}

body {
  font-family: -apple-system, ".SFNSText-Regular", "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
}

nav a {
  color: #A5C9CA;
  font-weight: 800;
  padding-left: 10px; 
  text-decoration: none;
}