.containerG {
    display: flex;
    position: relative;
    justify-content: center;
}

.trafficlightG {
    width: 300px;
    height: 400px;
    border: 10px solid black;
    border-radius: 5%;
    background: black;
    position: relative;
    display: flex;
}

/* Lights */
.redlightG, .yellowlightG, .greenlightG {
    width: 90px;
    height: 90px;
    width: 100px;
    height: 100px;
    position: absolute;
    border: 10px solid black;
    border-radius: 50%;
    display: flex;
    background: white;
}
.redlightG{
    top: 30px;
    background: rgb(63, 44, 44);
    opacity: 80%;	
}
.yellowlightG{
    top: 145px;
    background: rgb(75, 75, 63);
}

.greenlightG {
    bottom: 30px;
    background: rgb(21, 238, 21);
    opacity: 80%;	
}
